.searchWrapper {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: #D9D9D9;;
}

.searchWrapper .firstWrapper {
  background-color: #6E9CC7;
  padding: 30px;
  padding-left: clamp(3rem, 2.3500rem + 3.2500vw, 6.25rem);
  border-radius: 10px;
  flex: 1;
  max-width: 100%;
  height: fit-content;
  margin-top: 50px;
  

}

.topSearch {
  gap: 20px;
  justify-content: space-between;
}

.topSearch,
.searchSection,
.locationSection {
  display: flex;
  gap: 10px;
}

.searchSection img,
.locationSection img {
  width: 26px;
  height: 26px;
  margin-top: 10px;
}

.topSearch input {
  background-color: #DCE3F3;
  border-radius: 10px;
  width: 100%;
}

.inputText::placeholder {
  color: #000000;
  text-align: center;
  font-weight: 600;
}

.wsearchSection {
  background-color: #014ED5;
  border-radius: 10px;
  width: fit-content;

}

.wsearchSection img {
  padding: 3px;
}

.sectionText p {
  font-size: 18px;
  font-weight: 500;
  padding-top: 30px;
}

.bottomSearch {
  margin-top: 20px;
  display: flex;
  gap: clamp(2rem, 1.4000rem + 3.0000vw, 5rem);
}

.departList {
  background-color: #DCE3F3;
  padding-top: 5px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  width: 100%;
}

.secondWrapper {
  position: relative;
}

.secondWrapper img {
  height: 350px;
  width: 100%;
}

.secondImgWrapper {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.secondImgWrapper img {
  height: 300px;
  width: 100%;

}

.secondSection .secondSecWrapper{
  display: flex;
  padding: 50px 100px;
  justify-content: space-around;
  
}

.secondSecWrapper .firstWrapper h2{
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  max-width: 400px;
  
}

.firstWrapper .searchHospital{
  display: flex;
  padding: 40px 0 20px 0 ;
}

.searchBox{
  background-color: #DCE3F3;
  border-radius: 10px;
  padding: 15px 8px;
}

.searchBox::placeholder{
 font-weight: 600;
 
}

.sugestions li{
  opacity: 41%;
  font-size: 15px;
}

.rightImageContainer {
  max-width: 300px;
  margin: 0 auto;
  
}

.imageLayer0, .imageLayer1, .imageLayer2 {
  top: 50%;
  left: 50px;
}


.imageCaption {
  
  padding-right: 250px;
  text-align: end;
  margin-top: 40px;

}

.specialHeader {
  margin-top: 40px;
}

.specialContainer {
  background-color: #D1D6E0;
  padding-top: 20px;
}

.specialWrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 30px 50px 30px;
}

h3 {
  font-size: 23px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
}

.specialList {
  background-color: #D1D6E0;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lists h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-top: 5px;
}

.lists p {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-top: 2px;
}

.footerSection {
  background-color: #738CE2AD;
}

.footerWrapper {
  padding: 20px 10px 40px 50px;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 5px;
}

@media screen and (max-width: 894px ){
  .secondSecWrapper{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 894px ){
  .specialContainer{
    display: flex;
    flex-direction: column;
  }
}





@media screen and (max-width: 360px ){
  .searchHospital{
    justify-content: center;
  }
}

@media screen and (min-width: 1260px ){
  .searchWrapper .firstWrapper{
    max-width: 900px;
  }
}


@media screen and (max-width: 1160px) {
  .searchWrapper {
    flex-direction: column;
  }

  .secondWrapper img {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 844px) {
  .bottomSearch {
    display: grid;
    grid-template-columns: auto auto;
  }
}


@media screen and (max-width: 425px) {
  .bottomSearch {
    display: grid;
    grid-template-columns: auto;
  }
}


@media screen and (max-width: 768px) {
  .searchWrapper {
    flex-direction: column;
  }

  .topSearch {
    flex-direction: column;
  }
}